html {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
}

/*style de la partie header*/
h1, h2 {
    color: #ffffff;
}

header {
    background-color: #17abb3;
    width: 1160px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profil-pict {
    width: fit-content;
}

.profil-picture {
    border-radius: 50%;
    border: 4px solid #ffffff;
    cursor: zoom-in;
}

.profil-picture:active {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width: 50%;
        height: auto;
        cursor: zoom-out;
}

.profil-info {
    width: fit-content;

}

.profil-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profil-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.link {
    width: 30%;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: #ffffff;
    
}

.icon {
   padding-right: 5px;
}

/*style de la partie main*/

main {
    width: 1160px;
    display: flex;
    flex-direction: row;

}

h3 {
    color: #17abb3;
    padding-left: 10%;
}

/*style aside*/

.stars {
    color: #17abb3;
}

hr {
    width: 80%;
    color: #f5f5f5;
}

aside {
    background-color: #e3e3e3;
    width: 30%;
}

.aside {
    display: flex;
    justify-content: center;
}

table, tr, td {
    width: 80%;
}

.level {
    text-align: right;
}

ul {
    list-style-type: none;
}

li::before {
    content: "\25AA";
    color: #17abb3;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/*style section*/

section {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

article h3 {
    color: #17abb3;
    margin: 0;
    margin-left: 10%;
    padding: 0;
    align-self: flex-start;
}

.presentation {
    margin-left: 10%;
    width: 80%;
    text-align: justify;
    text-indent: 3em;
}

article small {
    margin-left: 0;
    margin-top: 0;
    align-self: flex-start;
}

.date {
    width: fit-content;
    color: #17abb3;
}

.div-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 5px;

}

.div-container:hover {
    background-color: #e3e3e3;
    border-left: 3px solid #17abb3;
}

.div-container h4 {
    margin: 0;
    width: 100%;
}

.div-container small {
    margin: 0;
    
}

.div-container .date {
    margin: 0;
    color: #17abb3;
    align-self: center;  
}

/*style footer*/

footer {
    background-color: #17abb3;
    width: 1160px;
    height: fit-content;
    margin-top: 0;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-icon:hover {
    opacity: 0.5;
}

footer small {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}